html {
    width: calc(100vw - 17px);
}

body {
    width: 1100px;
    margin: 0 auto;
    padding-top: 60px;
    background-image: url(/IMG/tlo.png);
    background-repeat: no-repeat;
    background-position: center top;
    
    
}


main {
    background-color: rgb(236, 236, 236);
    
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: block;
    width: 20%;
    float: left;
    text-align: center;
}

nav a {
    text-decoration: none;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    width: 100%;   
    display: inline-block; 
    padding: 10px 0;
    background-color: #800000;
}

.active {
    background-color: rgb(0, 38, 255);
    
}

nav a:hover {
    background-color: rgb(0, 38, 255);
    transition: all 0.5s ease-in-out;
}

.contener {
    width: 100%;
    display: flex;
    font-weight:bold;
    color:white; 
    text-shadow: black 0.1em 0.1em 0.9em;
    
}
.tresc {
    width: 100%;
    margin: 0 10px;
    background-image: url(/IMG/tlozamazane.PNG);
}

p {
    font-size: 40px; 
    text-align: center;
    margin: 300px auto;
}

footer {
    background-color: #800000;
    color: white;
    text-align: right;
    padding: 5px 40px;
}