body {
    width: 1100px;
    margin: 0 auto;
    padding-top: 60px;
    background-image: url(IMG/tlo.png);
    background-repeat: no-repeat;
    background-position: center top;
}

html {
    width: calc(100vw - 17px);
}

main {
    background-color: rgb(236, 236, 236);
    
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: block;
    width: 20%;
    float: left;
    text-align: center;
}

nav a {
    text-decoration: none;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    width: 100%;   
    display: inline-block; 
    padding: 10px 0;
    background-color: #800000;
}

.active {
    background-color: rgb(0, 38, 255);
    
}

nav a:hover {
    background-color: rgb(0, 38, 255);
    transition: all 0.5s ease-in-out;
}

.contener {
    width: 1100px;
    display: flex;
}

	

footer {
    background-color: #800000;
    color: white;
    text-align: right;
    padding: 5px 40px;
}

#panel {
    width: 500px; 
    margin: 80px auto; 
    padding: 15px 0 0;
    background: #fff;
    border: 1px solid silver;
    font: 16px calibri;
    letter-spacing: -1px;
    -webkit-box-shadow: 0 0 2px silver; 
    -moz-box-shadow: 0 0 2px silver; 
    box-shadow: 0 0 2px silver;
    height: 300px;
    }

form {
    margin: 0;
    }

	
label {
display: block;
width: 260px;
padding: 10px 20px;
color: #696969;
font-size: 17px;
}

#username, #password {
display: block;
width: 360px; 
margin: 0 auto;
padding: 10px 5px;
border: 1px solid silver;
outline: 5px solid #ebebeb;
font-size: 22px;
}
#username:focus, #password:focus {
outline: 5px solid #e5f2f8;
}

#lower {
background: #ecf2f5;
width: 460px;
padding: 5px 20px;
margin-top: 20px;
}

	
.check {
display: inline;
float: none;
font-size: 11px;
padding: 5px;
}

input[type="submit"] {
width: 90px;
padding: 5px 13px;
border: 1px solid #005f85;
color: white;
text-shadow: 0 0 1px black;
background: #98c9dc;
position: relative;
left: 330px;
}

#panel, input[type="submit"] {
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}

.contener a {
    text-decoration: none;
    
}





p {
    text-align: center;
    color:#800000;
    font-size: 20px;
    background-color: #98c9dc;
    border-radius: 8px;
    border: solid 1px blue;
    color: white;
    text-shadow: 0 0 1px black;

}