

body {
    width: 1100px;
    margin: 0 auto;
    padding-top: 60px;
    background-image: url(IMG/tlo.png);
    background-repeat: no-repeat;
    background-position: center top;
}



main {
    background-color: rgb(236, 236, 236);
    
    
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: block;
    width: 20%;
    float: left;
    text-align: center;
}

nav a {
    text-decoration: none;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    width: 100%;   
    display: inline-block; 
    padding: 10px 0;
    background-color: #800000;
}

.active {
    background-color: rgb(0, 38, 255);
    
}

nav a:hover {
    background-color: rgb(0, 38, 255);
    transition: all 0.5s ease-in-out;
}

.contener {
    width: 100%;
    padding-top: 30px;
}

.tresc {
    padding: 10px;
}

.contener img {
    width: 100%;
    height: 400px;
}

.contener p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    padding-bottom: 20px;
}
.contener li {
    font-size: 20px;
}
.contener h1 {
    text-align: center;
    border-bottom: #800000 solid 2px;
    color: #7679ff;
    font-size: 36px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
}


footer {
    background-color: #800000;
    color: white;
    text-align: right;
    padding: 5px 40px;
}
